{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Blog de Ivan Seoane</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'blogIvanapp/css/contacto.css' %}">
    
	
</head>
<body>
	
	{% include "./plantilla.html" %}

	{% block content %}

	<h3>CONTACTO</h3>
	{% if frm.errors %}
		<p>hay errores en el formulario</p>
	{% endif %}
	<div class="container">

		<div class="menu">
			<form method="POST" action="">{% csrf_token %}

				<ul>
					{{fmr.as_ul}}
				</ul>

				<input class="boton" type="submit" value="Enviar">

				
			</form>
		</div>

		<div class="logotipo">
			<img src="{% static 'blogIvanapp/img/club-campos-de-castilla-logotipo.png'%}">
		</div>

	</div>

	{% endblock %}

	
</body>
</html>