{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Blog de Ivan Seoane</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blogIvanapp/css/homme.css' %}">
	
</head>
<body>
	
	{% include "./plantilla.html" %}
	
	
	<main>
		<!-- Aquí va el contenido de la página -->
        <div class="titulo">
            <h5>Atletismo</h5>
            <h2>El rincon de un atleta Burgales</h2>
        </div>
	</main>
</body>
</html>


