{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Blog de Ivan Seoane</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blogIvanapp/css/estilos.css' %}">
	
</head>
<body>
	
	
	
	
	<header>
		<div class="logo">IVAN SEOANE ALONSO</div>
		<nav>
			<a href="#">Inicio</a>
			<a href="#">Fotos</a>
			<a href="#">Videos</a>
			<a href="#">Eventos</a>
			<a href="#">Marcas</a>
			<a href="#">Contacto</a>
		</nav>
	</header>
	<main>
		<!-- Aquí va el contenido de la página -->
        <div class="titulo">
            <h5>Atletismo</h5>
            <h2>El rincon de un atleta Burgales</h2>
        </div>
	</main>
</body>
</html>


